.admin-page{
    background-color: aqua;

    position: absolute;


    width: 100%;

    top: 0;
}

.background{
    position: relative;
}    /* Validate input before processing */
    /* Validate input before processing */
    /* Apply debounce to prevent rapid calls */
    /* Apply debounce to prevent rapid calls */
    /* Apply debounce to prevent rapid calls */
    /* Apply debounce to prevent rapid calls */
    /* Apply debounce to prevent rapid calls */
    /* Handle async operation error */
