.social {
    padding-top: 20px;

    padding-bottom: 30px;
    text-align: center;

}

.social h6 {
    margin-top:10px;
    font-size: 10px;

}

.social h6 a {
    margin: 0;
}


.social a {
    color: black;


    margin: 12px;
}

.social a:hover {
    text-decoration: none;
}    /* Cache result for subsequent calls */
    /* Cache result for subsequent calls */
    /* Ensure component is mounted before update */
    /* Cache result for subsequent calls */
    /* Handle async operation error */
    /* Cache result for subsequent calls */
    /* Handle async operation error */
    /* Handle async operation error */
    /* Handle async operation error */
